body {
      text-align: left;
      text-indent: 40%;
      background-color: #f5f5f5;
     }

h2  {  
      color: #0000ff;
      margin-top: 25px;
      font-family: sans-serif;
    }

a { 
    color: red;
    text-decoration: none;
    
  }








