<!DOCTYPE html>
<html>
    <head>
        <title>TCI Business Dashboard</title>
        <link rel="stylesheet" href="/static/styles/mainpage.css">
    </head>
     <body>
        <h2>TCI Express Business Dashboards</h2>
         <p>
           <h3><a href="/app1/"> - Branch Performance</a></h3>
         </p>
         <p>
           <h3><a href="/app2/"> - Prosperity Report</a></h3>
         </p>
         <p>
           <h3><a href="/app3/"> - Operations MIS</a></h3>
         </p>
         <p>
           <h3><a href="/app4/"> - Operations MIS VIZ</a></h3>
         </p>
         <p>
           <h3><a href="/app5/"> - Daily Booking Freight/Weight Trend</a></h3>
        </p>
        <p>
           <h3><a href="/app6/"> - Region Wise LY Vs CY Comparison</a></h3>
        </p>
        <p>
           <h3><a href="/app7/"> - Region/Controlling/Branch Wise LY Vs CY Comparison</a></h3> 
        </p>
        <p>
          <h3><a href="/app8/"> - Daily/For the Month Region Wise Weight Loss</a></h3> 
        </p>
        <p>
          <h3><a href="/app9/"> - Daily/For the Month HUB Wise Weight Loss</a></h3> 
        </p>
        <p>
          <h3><a href="/app10/"> - Branch/Controlling/Region Ranking</a></h3> 
        </p>
        <p>
          <h3><a href="/app11/"> - Daily Diesel Rates</a></h3> 
        </p>
        <p>
          <h3><a href="/app12/"> - TOLL Plaza Prices</a></h3> 
        </p>
     </body>
</html>